{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post.titulo }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ post.contenido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('posts_index') }}">back to list</a>

    <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>

    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
